{% extends 'base.html' %}

{% block content %}

<h3 class="cart_cart">Ваша корзина {% if not cart.products.count %} пуста {% endif %}</h3>

{% if messages %}

    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

{% endif %}

{% if cart.products.count %}

<table class="table">
  <thead>
    <tr class="tr">
      <th class="th">Наименование</th>
      <th class="th">Изображение</th>
      <th class="th">Цена</th>
      <th class="th">Кол-во</th>
      <th class="th">Стоимость</th>
      <th class="th">Действие</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
    <tr class="tr">
      <td class="td">{{ item.content_object.title }}</td>
      <td class="td"><img src="{{ item.content_object.image.url }}" width="100"></td>
      <td class="td">{{ item.content_object.price }} руб.</td>
      <td class="td">
        <form action="{% url 'change_qty' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}" method="POST">
          {% csrf_token %}
          <input type="number" width="40" name="qty" min="1" value="{{ item.qty }}">
          <br>
          <input type="submit" value="Изменить кол-во">
        </form>
      </td>
      <td class="td">{{ item.final_price }} руб.</td>
      <td class="td"><span class="button_cart"><button onclick="window.location.href = '{% url 'delete_from_cart' ct_model=item.content_object.get_model_name slug=item.content_object.slug %}';">Удалить из корзины</button></span></td>
    </tr>
    {% endfor %}
    <tr class="tr">
      <td class="td"></td>
      <td class="td"></td>
      <td class="td">ИТОГО:</td>
      <td class="td">{{ cart.total_products }}</td>
      <td class="td"><strong>{{ cart.final_price }}, руб.</strong></td>
      <td class="td"><a href="{% url 'checkout' %}"><button>Перейти к оформлению</button></a></td>
    </tr>
  </tbody>
</table>

{% endif %}
{% endblock content %}